.serif {
    font-family: serif
}
.mono {
    font-family: monospace
}
.subtitle{
    font-size: 1rem;
}

.small-text{
    font-size: 1.25rem;
}

.med-text{
    font-size: 2rem;
}

a {
    color: #01579b
}

.tabs .indicator {
    background-color: #01579b
}

.tabs {
    font-size: 1.25rem;   
}
