/* 
Julia logo colors

 julia-blue   : #4063D8 
 julia-green  : #389826
 julia-purple : #9558B2
 julia-ref    : #CB3C33
*/

.serif {
    font-family: serif
}
.mono {
    font-family: monospace
}
.subtitle{
    font-size: 1rem;
}

.small-text{
    font-size: 1.25rem;
}

.med-text{
    font-size: 2rem;
}

a {
    color: #4063D8 
}

.julia-blue {
    color: #4063D8
}

.julia-red {
    color: #CB3C33
}

.julia-purple {
    color: #9558B2
}

.julia-green {
    color: #389826
}
